@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
        <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__logo">
                            <a href="#">
                                <img src="~/Assets1/app/media/img/logos/logo-2.png">
                            </a>
                            <br /> 
                            <br /> 
                            <br /> 
                            <h4 class="m-login__title">
                                Iniciar sesión
                            </h4>
                        </div>
                       
                        <div class="m-login__signin">
                             @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
                            {

                                @*<form class="m-login__form m-form" action="">*@
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Usuario" name="UserName" autocomplete="off">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Contraseña" name="Contraseña">
                                </div>
  
                                    <div class="m-login__form-action">
                                     
                                            <button a data-ajax="true" type="submit" class="btn btn-light m-btn m-btn--pill m-btn--custom m-btn--air">Ingresar</button>
                                       

                                            @*<button id="m_login_signin_submit" data-ajax="true" class="btn btn-light m-btn m-btn--pill m-btn--custom m-btn--air">
                  Ingresar
            </button>*@
</div>
                               

                                @*</form>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(../Assets1/app/media/img//bg/bg-4.jpg)">
            <div class="m-grid__item m-grid__item--middle">
                <h3 class="m-login__welcome">
                    Sistema de Reconocimientos 
                </h3>
                <p class="m-login__msg">
                    @*Reconocimientos de la UMB*@
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end:: Page -->
<!--begin::Base Scripts -->
